
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns:repeat(6, 200px);
    grid-template-rows: repeat(5, 20px);
    background-color: whitesmoke;
    width:100%;
    height: auto;
}
.header-logo{
width: 180px;
background-color: whitesmoke;
grid-column-start: 2;
grid-row-start: 1;
cursor: pointer;
margin-left: 130px;
}
.header-titulo {
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif!important;
    grid-column-start: 4;
    grid-row-start: 3;
    cursor: pointer;
    margin-left: 80px;
}