#container-main {
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(8, 100px);
    background: #fff;

}
#box-pet-1{
    display: grid;
    grid-template-columns: repeat(10, 21px);
    grid-template-rows: repeat(10, 22px);
    background: #fff;
}
#box-pet-2{
    display: grid;
    grid-template-columns: repeat(10, 21px);
    grid-template-rows: repeat(10, 22px);
    background: #fff;
}
.box-pet-1 {

    grid-column-start: 6;
    margin-top: 70px;
    margin-left: 20px;
    width: 210px;
    height: 220px;
    border: solid 3px;
    border-radius: 10%;
    border-color: orange;
}
#box-pet-1:hover{
    background: #dff5ff;
}
.box-pet-2{
    grid-column-start: 8;
    margin-top: 70px;
    width: 210px;
    height: 220px;
    border-radius: 10%;
    border: solid 3px;
    border-color: orange;
    margin-left: 20px;

}
#box-pet-2:hover{
    background: #dff5ff;
}
.logo-mascota-selet{
    grid-column-start: 1;
    grid-row-start: 1;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-left: 40px;
}
.selet-input{
    grid-column-start: 4;
    grid-row-start: 9;
}

.span-mascota{
    grid-column-start: 5;
    grid-row-start: 9;
}
.span-mascota:hover{
    color: orange;
}
.p-main-info{
    grid-column-start:7 ;
    grid-row-start: 4;
    margin-top: 50px;
    font-size: 24px;
    text-align: center;
    width: 300px;
}

.label-nombre{
    grid-column-start: 6;
    grid-row-start: 5;
}
.label-raza{
    grid-column-start: 8;
    grid-row-start: 5;
    margin-left: 30px;
}
.label-fecha{
    grid-column-start: 6;
    grid-row-start: 6;
}
.input-nombre{
    grid-column-start: 6;
    grid-row-start: 5;
    height: 40px;
    width: 300px;
    margin-top: 25px;
    border: solid 1px #63D0FF;
}
.input-raza{
    grid-column-start: 8;
    grid-row-start: 5;
    height: 40px;
    width: 300px;
    margin-top: 25px;
    margin-left: 27px;
    border: solid 1px #63D0FF;
}
.input-fecha{
    grid-column-start: 6;
    grid-row-start: 6;
    height: 40px;
    width: 300px;
    margin-top: 25px;
    border: solid 1px #63D0FF;
    
}
.btn-main{
    grid-column-start: 6;
    grid-row-start: 7;
    height: 40px;
    width: 450px;
    margin-top: 25px;
    margin-left: 50px;
    background-color: orange ;
    color:#fff;
    font-size: 20px;
}
.btn-main:hover{
  border: solid 1px orange;
  background-color: #fff;
  color: orange;
}